/*This is the body section this controls the formating of the contents of the body section in other programs in this case
 the colors of the webpage this is applied to*/
body{
    /*This is the background color property this controls the background color of the webpage this program is applied to*/
background-color:black;

/*This is the color property the is controls the color of the text in the webpage this program is applied to*/
color:rgb(119, 132, 251);
}
/*This is the nav section this controls the formating of the nav section of the webpage this program is applied to*/
nav{
    /*This is the height property this controls teh height of the nav section in the webpage this program is applied to*/
height: 600px;
/*This is the width property this controls the width of the nav section in the webpage this program is applied to*/
width: 25px;
/*This is the float property this property causes the rest of the content in the container it affects to wrap around it*/
float: left;
/*This is the padding property this property creates room around the content it affects*/
padding: 5px;
/*This is the line height property this property controls the space between each line of text*/
line-height: 30px;
/*This controls the font size of the text*/
font-size: larger;
}
/*This is the footer section this controls the formating of footer section of the webpage this program is applied to*/
footer{
    /*This is the height property this controls the height of the nav section in the webpage this program is applied to*/
height: 600px;
/*This is the width property this controls the width of the nav section in the webpage this program is applied to*/
width: 200px;
/*This is the float property this property causes the rest of the content in the container it affects to wrap around it*/
float: left;
/*This is the padding property this property creates room around the content it affects*/
padding: 5px;
/*This is the line height property this property controls the space between each line of text*/
line-height: 30px;
text-align: left;
}
/*This is the Meme image section this section controls the formating of the meme image in the index program*/
#memeImage{
    /*This is also the margin right property this does the same as before except on an image instead of text*/
margin-right: 200px;
/*This is the width property this controls the width of the image*/
width: 300px;
height: 300px;

}
/*This is the h1 section this controls the formating of the h1 section of the webpage this program is applied to*/
h1{
    /*This is the text align property this property controls the alignment of text*/
    text-align: center;
}
p{
height: 600px;
/*This is the width property this controls the width of the nav section in the webpage this program is applied to*/
width: 200px;
/*This is the float property this property causes the rest of the content in the container it affects to wrap around it*/
float: left;
/*This is the padding property this property creates room around the content it affects*/
padding: 5px;
/*This is the line height property this property controls the space between each line of text*/
line-height: 30px;
text-align: left;
}