/*
Walker Wilson
5/2/2026
Version 1
Table Styles
*/
/*Colors for the body of the webpage*/
body{
    background-color: rgba(102, 102, 102, 0.537);
    color:rgb(95, 0, 0)
}
/*This is the nav section*/
nav{
    /*This is the height property this controls teh height of the nav section in the webpage this program is applied to*/
height: 600px;
/*This is the width property this controls the width of the nav section in the webpage this program is applied to*/
width: 200px;
/*This is the float property this property causes the rest of the content in the container it affects to wrap around it*/
float: left;
/*This is the padding property this property creates room around the content it affects*/
padding: 5px;
/*This is the line height property this property controls the space between each line of text*/
line-height: 30px;
/*This controls the font size of the text*/
font-size: larger;
}
/*Formating for table border*/
table
{
    border:20px;
    border-width: 20px;
    border-color: rgb(0, 0, 0);
    width: 85%;
}
/*First header color and width*/
#th1
{
    width: 25%;
    color: rgb(0, 111, 231);
    background-color: rgb(0, 91, 0);
}
/*second header color and width*/
#th2
{
    width: 25%;
    color: rgb(147, 22, 22);
    background-color: rgb(246, 100, 100);
}
/*third header color and width*/
#th3
{
    width: 25%;
    color: rgb(85, 44, 15);
    background-color: rgb(239, 144, 0);
}
/*fourth header color and width*/
#th4
{
    width: 25%;
    color: yellow;
    background-color: rgb(147, 78, 29);
}

/*Formating for the colored stripes for the table*/
tr:nth-child(even)
{
    background-color: rgb(211, 181, 253);
}
tr:nth-child(odd)
{
    background-color: rgba(255, 102, 173, 0.668);
}